html
  body
    background-color: #adadad
    margin: auto
    article
      background-color: white
      margin: auto 50px

heading-defaut()
  margin: auto 20px
  text-align: center
  max-width: 100%
  font-family: Poppins
  text-transform: uppercase
  color: #303840

.a-heading--lg
  heading-defaut()
  font-size: 40px
  font-weight: 500
  line-height: (56/40)

.a-heading--md
  heading-defaut()
  font-size: 24px
  font-weight: 500
  line-height: (48/24)

.full-width
  width: 100vw
  position: relative
  display: block
